<header>

  <div class="logo">
    <%= link_to root_url do %>
    <%= image_tag 'logo.svg' %>
    <% end %>
  </div>
 <!--  <form class="pure-form">
    <input type="text" class="" />
    <button type="submit" class="pure-button">Search</button>
  </form> -->
  <div class="menu-container">
    <% if logged_in? %>
      <div class="item toggle" id="menu-check">
        <input type="checkbox">
        <%= image_tag current_user.icon_path %>
      </div>
      <ul id="dropdown-items">       
      <%= link_to user_path(current_user) do %>
       <li class="item">My page</li>
      <% end %>
      <%= link_to user_path(current_user) do %>
        <li class="item">Uplpad</li>
      <% end %>
      <%= link_to new_event_url do %>
        <li class="item">New Event</li>
      <% end %>
      <%= link_to user_path(current_user) do %>
      <li class="item">My account</li>
      <% end %>
      <%= link_to '/logout' do %>
        <li class="item">Logout</li>
      <% end %>
      </ul>
      <script>
        document.getElementById('menu-check').addEventListener('change',
          (e)=>{
            document.getElementById('dropdown-items').style.visibility = 'visible'
            document.addEventListener('click', ()=>{
              document.getElementById('menu-check').checked = false;
              document.getElementById('dropdown-items').style.visibility = 'hidden'
            })
          }
        )
      </script>
    <% else %>
      <div class="login-container">
        <%= link_to login_path do %>
          <button>Login</button>
        <% end %>
        <%= link_to signup_path do %>
          <button>Signup</button>
        <% end %>
      </div>
    <% end %>
  </div>
  
</header>