<% provide(:title, '新規イベントの登録') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
  var config = {
        allowInput: true,
        defaultDate: Date.now(),
        dateFormat: "'y m/d"
      }
  window.onload = function(){
    document.getElementById('event-start-date-at').flatpickr(config)
    document.getElementById('event-close-date-at').flatpickr(config)
  }
</script>
<div id="event-new-container">
  <div id="new-event-area">
    <h1>新規イベントの登録</h1>
    <%= form_with(model: @event, local: true, class: "pure-form pure-form-stacked") do |f| %>
      <fieldset>
        <label for="event-name" class="required-item-label">イベント名</label>
        <span class="required">※必須項目</span>
        <%= f.text_field :name,
          placeholder: "(例) 〇〇カンファレンス",
          id: "event-name",
          class: "pure-u-1",
          required: true %>
        <label for="event-link" class="pure-u-1">詳細リンク</label>
        <%= f.url_field :link,
          placeholder: 'https://',
          id: "event-link",
          class: "pure-u-1"
          %>
        <div class="pure-g">
          <div class="pure-g pure-u-1-2">
            <label for="event-start-at" class="required-item-label">開始時刻</label>
            <span class="required">※必須項目</span>
            <div class="pure-g date-input-container">
              <%= f.date_field :start_at,
                id: 'event-start-date-at',
                class: 'pure-u-1-2 date-input-flex',
                required: true %>
              <div class="time-inputs">
                <%= f.time_select :start_at,
                  id: 'event-start-time-at',
                  class: 'pure-u-1-2',
                  default: Time.local(2020, 5, 1, 12, 0, 0, 0),
                  required: true %>
              </div>
            </div>
          </div>
          <div class="pure-g pure-u-1-2">
            <label for="event-start-at" class="required-item-label">終了時刻</label>
            <span class="required date-input-container">※必須項目</span>
            <div class="pure-g">
              <%= f.date_field :close_at,
                id: 'event-close-date-at',
                class: 'pure-u-1-2 date-input-flex',
                required: true %>
              <div class="time-inputs">
                <%= f.time_select :close_at,
                  id: 'event-close-time-at',
                  class: 'pure-u-1-2',
                  default: Time.local(2020, 5, 1, 12, 0, 0, 0),
                  required: true %>
              </div>
            </div>
          </div>
        </div>
        
        <label for="event-hashtag" class="has-description">ハッシュタグ</label>
        <span class="description">カンマ区切りで複数指定ができます。</span>
        <%= f.text_field :hashtag,
          id: "event-hashtag",
          placeholder: "(例) #hogeConf,#fugaLT",
          class: "pure-u-1" %>
        <div id="coverimg-area">
          <label for="event-coverimg" class="has-description">イベントバナー画像</label>
          <span class="description">PNG JPG GIF 1MBまで</span>
          <%= f.file_field :coverimg, 
            accept: "image/png,image/jpeg,iamge/gif",
            id: 'event-coverimg' %>
        </div>
        <div id="button-area">
          <%= f.submit "イベントを登録",
            class: "pure-button pure-button-primary" %>  
        </div>
      </fieldset>
    <% end %>
  </div>
</div>