<% provide(:title, '新規イベントの登録') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/ja.js"></script>
<script>
  var config = {
        allowInput: true,
        defaultDate: Date.now(),
        dateFormat: "'y m/d",
        onChange: function(){}
      }

  document.addEventListener('turbolinks:load',
  function(){
    document.getElementById('event-start-date-at').flatpickr({
      allowInput: true,
        defaultDate: Date.now(),
        dateFormat: "'y m/d",
        locale: 'ja',
        onChange: function(selectedDates){
          document.getElementById('_start_at_1i').value = selectedDates[0].getFullYear()
          document.getElementById('_start_at_2i').value = selectedDates[0].getMonth()
          document.getElementById('_start_at_3i').value = selectedDates[0].getDate()
        }
    })
    document.getElementById('event-close-date-at').flatpickr({
      allowInput: true,
        defaultDate: Date.now(),
        dateFormat: "'y m/d",
        locale: 'ja',
        onChange: function(selectedDates){
          document.getElementById('_close_at_1i').value = selectedDates[0].getFullYear()
          document.getElementById('_close_at_2i').value = selectedDates[0].getMonth()
          document.getElementById('_close_at_3i').value = selectedDates[0].getDate()
        }
    })
  })
</script>
<div id="new-container">
  <div id="new-area">
    <h1>新規イベントの登録</h1>
    <%= form_for([@event], local: true, html: {class: "pure-form pure-form-stacked"}) do |f| %>
      <%= render 'events/form_error' %>
      <fieldset>
        <label for="event-name" class="required-item-label">イベント名</label>
        <span class="required">※必須項目</span>
        <%= f.text_field :name,
          placeholder: "(例) 〇〇カンファレンス",
          id: "event-name",
          class: "pure-u-1",
          required: true %>
        <label for="event-link" class="pure-u-1">詳細リンク</label>
        <%= f.url_field :link,
          placeholder: 'https://',
          id: "event-link",
          class: "pure-u-1"
          %>
        <div class="pure-g">
          <div class="pure-g pure-u-1-2">
            <label for="event-start-at" class="required-item-label">開始時刻</label>
            <span class="required">※必須項目</span>
            <div class="pure-g date-input-container">
              <input type="date" id="event-start-date-at" class="pure-u-1-2 date-input-flex" required>
              <div class="time-inputs">
                <%= f.time_select :start_at,
                  id: 'event-start-time-at',
                  class: 'pure-u-1-2',
                  default: Time.local(2020, 5, 1, 12, 0, 0, 0),
                  required: true %>
              </div>
            </div>
          </div>
          <div class="pure-g pure-u-1-2">
            <label for="event-start-at" class="required-item-label">終了時刻</label>
            <span class="required date-input-container">※必須項目</span>
            <div class="pure-g">
              <input type="date" id="event-close-date-at" class="pure-u-1-2 date-input-flex" required>
              <div class="time-inputs">
                <%= f.time_select :close_at,
                  id: 'event-close-time-at',
                  class: 'pure-u-1-2',
                  default: Time.local(2020, 5, 1, 12, 0, 0, 0),
                  required: true %>
              </div>
            </div>
          </div>
        </div>
        
        <label for="event-hashtag" class="has-description">ハッシュタグ</label>
        <span class="description">カンマ区切りで複数指定ができます。</span>
        <%= # f.text_field :hashtags,
          # id: "event-hashtag",
          # placeholder: "(例) #hogeConf,#fugaLT",
          # class: "pure-u-1"
        %>
        <input type="text" id="event-hashtag" class="pure-u-1" placeholder="(例) #hogeConf,#fugaLT" name="hashtags"/>

        <label for="event-coverimg" class="has-description">イベントバナー画像</label>
        <div id="coverimg-area" class="file-upload-container">
          <div id="event-clickable">
            <%= f.file_field :coverimg_path, 
              accept: "image/png,image/jpeg,iamge/gif",
              id: 'event-coverimg',
              style: "display: none" %>
            <img alt="coverimage preview" id="uploader-preview">
            <div id="insert-text">
              <div>ドラッグ&ドロップ</div>
              <div>クリックでファイルをアップロード</div>
              <div class="uploaded-mess" id="file-name"></div>
              <div class="please-mess"><i class="fas fa-file-upload"></i></div>
              <div class="description">PNG JPG GIF 1MBまで</div>
            </div>
          </div>
        </div>
        
        <div id="button-area">
          <%= f.submit "イベントを登録",
            class: "pure-button pure-button-primary" %>  
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
<script>
  document.getElementById('event-clickable').addEventListener('click', function(){
    document.getElementById('event-coverimg').click()
  })
  document.getElementById('event-coverimg').addEventListener('change',function(){
    previewImg()
  })

  function previewImg(){
    var fileReader = new FileReader();
    var file = document.getElementById('event-coverimg').files[0]

    previewEle = document.getElementById('uploader-preview')
    fileReader.addEventListener('load', (function(){
      previewEle.src = fileReader.result
    }))
    fileReader.readAsDataURL(file)
    document.getElementById('file-name').innerText = file.name
    document.getElementById('event-clickable').classList.add('show')
  }
</script>