<% provide(:title, @event.name) %>
<div class="container" id="event-container">
  <div id="infomation">
    <div id="cover-img">
      <%= image_tag @event.coverimg_path.url if @event.coverimg_path? %>
      </div>
    <h1 id="title"><%= @event.name %></h1>
    <div id="time">
      <i class="far fa-calendar-alt"></i>
      <span id="start_at">
        <%=  datetime_to_time_jp(@event.start_at) %>
      </span>
      <span>~</span>
      <span id="close_time">
        <%= datetime_to_time_jp(@event.close_at) %>
      </span>
    </div>
    <div id="link">
      <i class="fas fa-link"></i>
      <%= link_to @event.link, @event.link, target:"_blank" %>
    </div>
    <% if @event.Hashtags.any? %>
      <div id="hashtag">
        <i class="fab fa-twitter"></i>
        <ul>
          <% @event.Hashtags.each do | hashtag | %>
            <li>#<%= hashtag.name %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="slides-view">
    <%= render 'slide/slide' %>
    <%= render 'slide/slide' %>
    <%= render 'slide/slide' %>
    <%= render 'slide/slide' %>
    <%= render 'slide/slide' %>
  </div>
</div>