<div id="slide-show">
  <div id="slide"
			 <%= "data-livecast=#{@slide.livecast}" %>
			 <%= "data-current-presenter-page-num=#{@slide.current_presenter_page_num || -1}" %>
			 <%= "data-slide-id=#{@slide.id}" %>
			 <%= "data-page-num=#{@page.page_num}" %>
	>
    <div id="slide-img" style="background-image: url(<%= @page.img.url %>); background-color: <%= @dominant_color %>"></div>
  

    <div id="control">
      <% if @previousPage %>
        <%= link_to slide_page_path(@slide, @previousPage.page_num) do %>
          <div id="previous-clickable" class="clickable"></div>
        <% end %>
      <% end %>
      <% if @nextPage %>
        <%= link_to slide_page_path(@slide,@nextPage.page_num) do %>
          <div id="next-clickable" class="clickable"></div>
        <% end %>
      <% end %>

      <div id="player-control">
        <% if @previousPage %>
          <%= link_to slide_page_path(@slide, @previousPage.page_num) do %>
            <div class="previous-button">
              <i class="fas fa-chevron-left"></i>
            </div>
          <% end %>
        <% else %>
          <div class="previous-button"></div>
        <% end %>
        <% if @nextPage %>
          <%= link_to slide_page_path(@slide,@nextPage.page_num) do %>
            <div class="next-button">
              <i class="fas fa-chevron-right"></i>
            </div>
          <% end %>
          <% else %>
          <div class="next-button"></div>
        <% end %>
      </div>
			
    </div>

		
		<div class="livecast" id="livecast-container">
			<%= link_to link_to_current_presenter_page(@slide), id:'backward-button-link' do %>
				<div class="back-button backward" id="backward-button" style="display: <%= presenter_page_back_button_style_display 'backward', @slide, @page %>">
					<span><i class="fa fa-caret-left" aria-hidden="true"></i>発表中のスライドに戻る</span>				
				</div>
			<% end %>
			<%= link_to link_to_current_presenter_page(@slide), id: 'forward-button-link' do %>
				<div class="back-button forward" id="forward-button" style="display: <%= presenter_page_back_button_style_display 'forward', @slide, @page %>">
					<span>発表中のスライドに戻る<i class="fa fa-caret-right" aria-hidden="true"></i></span>
				</div>
			<% end %>
		</div>
		

  </div>
	<% if @slide.livecast %>
    <div id="comment-area" data-turbolinks-permanent>
	<% else %>
		<div id="comment-area">
	<% end %>
		<div id="header">
      <span>コメントのリプレイ</span>
    </div>
    <div id="comments">

      <% if @page.comments.any? %>
        <%= render @page.comments %>
      <% end %>
    </div>

    <div id="comment-form"> 
      <div class="user-infomation-area">
        <div class="icon" style="background-image: url(<%= current_user.icon_path %>);"></div>
        <span class="user-name"><%= @slide.user.name %></span>
      </div>
      <%= form_with(url: "/slides/#{@slide.id}/pages/#{@page.page_num}/comments", remote: true, id: 'comment-form') do |f| %>
        <%= f.text_field :text, id: 'comment–text-input', style: 'display:none;' %>
        <div contenteditable="true" class="text-area" id="comment-editable-area">
         <% if @event && @event.hashtags.any? %>
          <%= render @event.hashtags %>
         <% end %>
        </div>
        <div class="button-area">
          <span id="comment-length"></span>
          <%= f.submit 'ツイート', id: 'comment-submit',class: 'err', disabled:true %>
        </div>    
      <% end %>      
    </div>
  </div>
  
  <div id="slide-info">
    <h1 class="title"><%= @slide.title %></h1>
    <div id="author">
      <%= image_tag @slide.user.icon_path, class: 'icon' %>
      <span class="user-name">
        <%= @slide.user.name %>
      </span>
      <span class="start-at">
        <%= datetime_to_date_jp_fmt(@slide.start_at) if @slide.start_at? %>
      </span>
    </div>
      <%= simple_format(@slide.summary) %>
  </div>

  <div id="related-slides" class="slides">
    <% if @related_slides %>
      <%= render @related_slides %>
    <% end %>
  </div>
</div>

<script>
	
  document.addEventListener("turbolinks:load", function(){
    if(document.getElementById('comment-area') != null){
      document.getElementById('comment-area').style.setProperty('--height',`${document.getElementById('slide-img').clientHeight}px`)
    }
  })
  var commentFromEle = document.getElementById('comment-form')
  commentFromEle.addEventListener('ajax:before', function(e){
    const ELEMENT_NODE = 1
    const TEXT_NODE = 3
    let childNodes = Array.from(document.getElementById('comment-editable-area').childNodes).map((node)=>{
      switch (node.nodeType) {
        case ELEMENT_NODE:
          return node.textContent.replace(/\s*/g, '')
          break;

        case TEXT_NODE:
          return node.textContent.replace(/^\s*/,'')
          break

        default:
          return ''
      }
    })

    childNodes = childNodes.filter(node=>(node !== ''))
    document.getElementById('comment–text-input').value = childNodes.join(' ');
  })

	
  commentFromEle.addEventListener('ajax:complete', function(e){
		console.log(e)
    var res = JSON.parse(e.detail[0].response)

    if(e.detail[1] == 'OK'){
      // reset hashtags
      var editableAreaEle = document.getElementById('comment-editable-area')
      editableAreaEle.innerHTML = ""
      var buff = ""
      res.hashtags.map(function(hashtag){
        buff += '<span contenteditable="false" class="hashtag">#' + hashtag + "</span>" + " "
      })
      editableAreaEle.innerHTML = buff;
    }
  })

	
  document.getElementById('comment-editable-area').addEventListener('keyup', (e)=>{
    const length = e.srcElement.textContent.length
    const commentLengthEle = document.getElementById('comment-length')
    const submitEle = document.getElementById('comment-submit')
    commentLengthEle.textContent = length + '/120'
    if(length > 120){
      commentLengthEle.classList.add('err')
      submitEle.classList.add('err')
      submitEle.disabled = true
    }else{
      commentLengthEle.classList.remove('err')
      submitEle.classList.remove('err')
      submitEle.disabled = false
    }
  });

	// 自動再生時にユーザーが自分で戻った時最新のスライドに追従するか選択 
	// var slideEle = document.getElementById('slide');
	// if(slideEle.getAttribute('data-livecast')== "true"){
	// 	var presenterPage = slideEle.getAttribute('data-current-presenter-page-num');
	// 	var pageNum	=	slideEle.getAttribute('data-page-num');
	// 	var backwordButtonEle = document.getElementById('backword-button');
	// 	var forwardButtonEle = document.getElementById('forward-button');
 	// 	if(presenterPage != pageNum){
	// 		// プレゼンターとは違うページを開いた時
	// 		if(presenterPage < pageNum){
				
	// 				backwordButtonEle.style.display = 'block';
	// 		}
	// 	}else{
			
	// 	}
	// }

</script>
<script data-turbolinks-eval="false">
  // 初期レンダリング時のみ実行
  window.addEventListener('resize', function(){
		if(document.getElementById('comment-area') != null){
			document.getElementById('comment-area').style.setProperty('--height',`${document.getElementById('slide-img').clientHeight}px`)
		}
	})
													
</script>
