<div id="slide-show">
  <div id="slide">
    <div id="slide-img" style="background-image: url(<%= @page.img.url %>); background-color: <%= @dominant_color %>"></div>
  

    <div id="control">
      <% if @previousPage %>
        <%= link_to slide_page_path(@slide, @previousPage.page_num) do %>
          <div id="prevous-clickable" class="clickable"></div>
        <% end %>
      <% end %>
      <% if @nextPage %>
        <%= link_to slide_page_path(@slide,@nextPage.page_num) do %>
          <div id="next-clickable" class="clickable"></div>
        <% end %>
      <% end %>

      <div id="player-control">
        <% if @previousPage %>
          <%= link_to slide_page_path(@slide, @previousPage.page_num) do %>
            <div class="previous-button">
              <i class="fas fa-chevron-left"></i>
            </div>
          <% end %>
        <% else %>
          <div class="previous-button"></div>
        <% end %>
        <% if @nextPage %>
          <%= link_to slide_page_path(@slide,@nextPage.page_num) do %>
            <div class="next-button">
              <i class="fas fa-chevron-right"></i>
            </div>
          <% end %>
          <% else %>
          <div class="next-button"></div>
        <% end %>
      </div>

    </div>

  </div>
  <div id="comment-area">
    <div id="header">
      <span>コメントのリプレイ</span>
    </div>
    <div id="comments">
      <div class="comment">
        <div class="comment-icon" style="background-image: url(<%= @slide.user.icon_path %>);"></div>
        <p class="comment-text">
          <span class="comment-time">12:12</span>
          サンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
      </div>
      <div class="comment">
        <div class="comment-icon" style="background-image: url(<%= @slide.user.icon_path %>);"></div>
        
        <p class="comment-text">
          <span class="comment-time">12:12</span>
          サンプルテキストサンプルテ
        </p>
      </div>
      <div class="comment">
        <div class="comment-icon" style="background-image: url(<%= @slide.user.icon_path %>);"></div>
        
        <p class="comment-text">
          <span class="comment-time">12:12</span>
          🍣
        </p>
      </div>
      <div class="comment">
        <div class="comment-icon" style="background-image: url(<%= @slide.user.icon_path %>);"></div>
        
        <p class="comment-text">
          <span class="comment-time">12:12</span>サンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
      </div>
      <div class="comment">
        <div class="comment-icon" style="background-image: url(<%= @slide.user.icon_path %>);"></div>
        
        <p class="comment-text">
          <span class="comment-time">12:12</span>
          サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
        </p>
      </div>
      <div class="comment">
        <div class="comment-icon" style="background-image: url(<%= @slide.user.icon_path %>);"></div>
        
        <p class="comment-text">
          <span class="comment-time">12:12</span>
          サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
        </p>
      </div>
      <div class="comment">
        <div class="comment-icon" style="background-image: url(<%= @slide.user.icon_path %>);"></div>
        
        <p class="comment-text">
          <span class="comment-time">12:12</span>
          サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
        </p>
      </div>
      <div class="comment">
        <div class="comment-icon" style="background-image: url(<%= @slide.user.icon_path %>);"></div>
        
        <p class="comment-text">
          <span class="comment-time">12:12</span>
          サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
        </p>
      </div>
      <div class="comment">
        <div class="comment-icon" style="background-image: url(<%= @slide.user.icon_path %>);"></div>
        <p class="comment-text">
          <span class="comment-time">12:12</span>
          サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
        </p>
      </div>

      <div class="comment">
        <div class="comment-icon" style="background-image: url(<%= @slide.user.icon_path %>);"></div>
        <p class="comment-text">
          <span class="comment-time">12:12</span>
          サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
        </p>
      </div>
      <div class="comment">
        <div class="comment-icon" style="background-image: url(<%= @slide.user.icon_path %>);"></div>
        <p class="comment-text">
          <span class="comment-time">12:12</span>
          サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
        </p>
      </div>
      <div class="comment">
        <div class="comment-icon" style="background-image: url(<%= @slide.user.icon_path %>);"></div>
        <p class="comment-text">
          <span class="comment-time">12:12</span>
          サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
        </p>
      </div>
      <div class="comment">
        <div class="comment-icon" style="background-image: url(<%= @slide.user.icon_path %>);"></div>
        <p class="comment-text">
          <span class="comment-time">12:12</span>
          サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
        </p>
      </div>
      <div class="comment">
        <div class="comment-icon" style="background-image: url(<%= @slide.user.icon_path %>);"></div>
        <p class="comment-text">
          <span class="comment-time">12:12</span>
          サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
        </p>
      </div>
    </div>

    <div id="comment-form"> 
      <div class="icon" style="background-image: url(<%= @slide.user.icon_path %>);"></div>
      <div class="user-name"><%= @slide.user.name %></div>
      <!-- <form action=""> -->
      <%= form_for(@comment, remote: true) do |f| %>
        <%= f.text_field :text %>
        <%= f.text_field :page_id, value: @page.id %>
        <div contenteditable class="text-area">
          <span class="hashtag">#sample</span>asdfasdf
        </div>
        <div class="button-area">
          <span class="length">120/120</span>
          <%= f.submit 'ツイート' %>
          <!-- <button type="submit">ツイート</button> -->
        </div>    
      <% end %>      
      <!-- </form> -->
    </div>
  </div>
  
  <div id="slide-info">
    <h1 class="title"><%= @slide.title %></h1>
    <div id="author">
      <%= image_tag @slide.user.icon_path, class: 'icon' %>
      <span class="user-name">
        <%= @slide.user.name %>
      </span>
      <span class="start-at">
        <%= datetime_to_date_jp_fmt(@slide.start_at) if @slide.start_at? %>
      </span>
    </div>
      <%= simple_format(@slide.summary) %>
  </div>

  <div id="related-slides" class="slides">
    <% if @related_slides %>
      <%= render @related_slides %>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener("turbolinks:load", function(){
    document.getElementById('comment-area').style.setProperty('--height',`${document.getElementById('slide-img').clientHeight}px`)
  })
</script>
<script data-turbolinks-eval="false">
  // 初期レンダリング時のみ実行
  window.addEventListener('resize', function(){
    document.getElementById('comment-area').style.setProperty('--height',`${document.getElementById('slide-img').clientHeight}px`)
  })
</script>