<article>
  <%= link_to slide do %>
    <% if slide.pages.first %>
      <div class="thumbnail" style="background-image: url(<%= slide.pages.first.img.url %>);background-color: <%= get_dominant_color(slide.pages.first.img.path) %>;"></div>
    <% else %>
      <div class="thumbnail no-file"></div>
    <% end %>
  <% end %>
  <div class="slide-info">
    <%= link_to slide.user do %>
      <%= image_tag 'icon.png' %>
    <% end %>  
    <%= link_to slide.user do %>
      <span class="username">magcho</span>
    <% end %>
  </div>
</article>
